body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #2d2d2d;
    color: #fff;
    width: 250px;
    padding: 40px;
    height: 100vh;
}

.navbar {
    width: 250px;
    height: 100vh;
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1f1f2e;
    color: #ffffff;
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.navbar-logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-logo span {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 20px;
    transition: background-color 0.3s;
}

.navbar-user {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #33334d;
    border-radius: 10px;
}

.navbar-user img {
    width: 50px;
    height: 50px;
    margin-bottom: 12px;
    border-radius: 50%;
    margin-right: 15px;
}

.profile-link{
    color:#ffffff;
}

.navbar-user span {
    font-size: 18px;
}

.main-content {
    padding: 20px;
    width: 100%;
    background-image: url(../pic/background.png);
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info h1 {
    color: #5b34eb;
}

.profile-info h2 {
    margin: 0;
}

#addSongBtn {
    background-color: #5b34eb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#addSongBtn:hover {
    background-color: #472dbe;
}










